<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="batteryEntities" connectionString="metadata=res://*/entities.Model1.csdl|res://*/entities.Model1.ssdl|res://*/entities.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5J66BAT\SQLEXPRESS111;initial catalog=battery;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>