<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="batteryEntities" connectionString="metadata=res://*/entities.Model1.csdl|res://*/entities.Model1.ssdl|res://*/entities.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS111;initial catalog=battery;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <!--tab1-->
    <add key="ACom" value="COM1" />
    <add key="BCom" value="COM2" />
    <add key="CCom" value="COM3" />
    <add key="DCom" value="COM4" />
    <add key="ECom" value="COM5" />
    <add key="FCom" value="COM6" />
    <!--tab2-->
    <add key="AName" value="A" />
    <add key="BName" value="B" />
    <add key="CName" value="C" />
    <add key="DName" value="D" />
    <add key="EName" value="E" />
    <add key="FName" value="F" />
    <!--tab3-->
    <add key="RootLevel1" value="C:\"/>
    <add key="RootLevel2" value=""/>
    <add key="RootLevel3" value="日期"/>
    <add key="RootLevel4" value="机型名"/>
    <add key="RootLevel5" value="区域"/>
    <add key="DataSaveSpan" value="60" />
    <!--tab4-->
    <add key="IsAlarm" value="1" />
    <add key="S1" value="30" />
    <add key="S2" value="60" />
    <add key="IsBLJS" value="1" />
    <add key="S3" value="2" />
    <add key="IsBLPZT" value="1" />
    <add key="IsSJWCTS" value="1" />
    <!--tab5-->
    <add key="IsSDJCYS" value="1" />
    <add key="S4" value="30" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>